<div class="sidebar">
    <% @articles.each do |article| %>
        <%= link_to article.title, article %>
    <% end %>
</div>

<div class="content">
  <% @articles.each do |article| %>
      <h3><%= article.title %></h3>
      <p><%= article.body %></p>
  <% end %>
</div>

<div class="create_article">
    <%= link_to "Write Masterpiece", new_article_path %>
</div>